extends layout

block content
	h1 Welcome to Magellan's Voyage

	.row
		img.constrain-img(src="http://cp91279.biography.com/BIO_Bio-Shorts_0_Ferdinand-Magellan_149622_SF_NEW_HD_768x432-16x9.jpg")

	.row.left-align
		a.btn.btn-lg.btn-primary(href="#{location.slug}") START VOYAGE!