doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
		title Magellan's Voyage

	body
		.container
			block content
		