//-location Page
extends layout

block content
	h1 Magellan's Voyage

	h2 Magellan is now in: #{location.name}

	.row
		img.constrain-img(src="#{location.img}")
	.row.right-align
		a.btn.btn-primary(href="#{location.nextSlug}") Next we'll travel to #{location.nextLoc}