//- Unknown location
extends layout

block content
	h1 Magellan's Voyage

	h2 Sorry Magellan didn't travel here.

	.row
		img(src="http://media-2.web.britannica.com/eb-media/87/144587-004-26E6EC1B.jpg")
	.row
		p I always find a good place to start is the beginning.
		a.btn.btn-primary(href="/") Great! Let's start at the Beginning!